.aside-menu {
    margin: 0;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    border-right: rgb(164, 156, 156);
    border-right-width: 1px;
    border-right-style: solid;
}

.top-button-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px;
}

.top-button-container> div
{
    margin-bottom: 25px;
}
.container {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    width: 50px;
    height: 50px;
    cursor:pointer;
}

.menu-button:hover
{
    opacity: 0.8;
}

.menu-button:active
{
    opacity: 0.6;
}

.search-button {
    background-color: #5E7BC7;
    border: none;
    border-radius: 10px;
}

.saved-button {
    background-color: white;
    border-radius: 10px;
    border-color: rgb(181, 176, 176);
    border-width: 5px;
    border-style: solid;
}

.sing-button {
    border-radius: 10px;
    border: none;
    background-color: #808080;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}