.search-select {
    margin-top: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #C4C4C4;
    border-radius: 5px;
    overflow-y: scroll;
    height: 400px;
}



@media (max-height: 800px)
{
    .search-select {
        height: 250px !important;
    }
}